body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.update-time {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: #555;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 20px auto;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.card h3 {
    margin-bottom: 15px;
    color: #333;
}

.value {
    font-size: 18px;
    margin: 8px 0;
    color: #444;
}
/* Phones*/
@media (max-width: 600px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }

    .card {
        padding: 12px;  
        font-size: 14px; 
    }

    h1 {
        font-size: 18px; 
    }

    .value {
        font-size: 14px; 
    }
}
